

body{
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:  rgb(55, 55, 59);
    }
  
    .topnav {
    overflow: hidden;
    background-color: rgb(44, 41, 57);
    }
    li{
    list-style-type:none ;
    transition: all 1s ease;
    }
  
    .topnav a {
    float: left;
    color: #d5c993;
    text-align: center;
    padding: 10px 6px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 720;
    }
  
    .topnav a:hover {
    color: rgb(14, 224, 235);
    }
  
    .topnav a.logo {
    font-size: 19px;
    color: rgb(247, 216, 58);
    padding-right: 15px;
    }
    .topnav a.logincouncil:hover {
    color: rgb(247, 21, 21);
    }
    
    input[type=checkbox]{
    display: none;
    }
    .hamburger {
    display: none;
    font-size: 24px ;
    user-select: none;
    }       
    @media screen and (max-width:900px) {
    .menu { 
    text-align: left;
    display:none;
    position: relative;
    right: 0;
    left: 0;
    /* text-align: center; */
    padding: 16px 0;
    
    }
    
    input[type=checkbox]:checked ~ .menu{
    display: block;
    transition: 1s ease;
    }

    .topnav a{
    float: none;
    }

    .topnav .hamburger {
    position: relative;
    display: block;
    /* border-width: 0.5px; */
    /* float: right;  */
    margin-right: 10px;
    user-select: auto;
    /* position: absolute; */
    /* margin-right: 20%; */
    }
    }   
    
  * {box-sizing:border-box}
    
      /* Slideshow container */
    .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    }

    /* Hide the images by default */
    .mySlides {
    display: none;
    }

    /* Next & previous buttons */
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
    }

    /* Position the "next button" to the right */
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    }

    /* Caption text */
    .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    }

    /* The rectangle-buttons/indicators */
    .rec {
    cursor: pointer;
    height: 3px;
    width: 30px;
    margin: 0 2px;
    background-color: #bbb;
    display:inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    bottom: 60px;
    }

    .active, .rec:hover {
    background-color: #fdfdfd;
    }

    /* Fading animation */
    .fade {
    animation-name: fade;
    animation-duration: 3s;
    }

    @keyframes fade {
    from {opacity: .2}
    to {opacity: 1}
    }

    .footer a.btn {
    position: relative;
    left: 47%;
    right: 50%;
    padding: 10px;
    border-style: solid;
    /* padding-top: 20px; */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-width: .1px;
    border-color: azure;
    color: #ffffff;
    font-weight: 600;
    }
    
    .text-white{
        text-decoration: none;
        color: #fdfdfd;
        font-weight: bold;
    }
    .marquee, .footer-footer{
        position: relative;
        overflow: hidden;
        background-color: rgb(75, 73, 73);
        text-align: center;
        height: 10%;
    }
    .card{
        background-color: rgba(22, 21, 21, 0.489);
        width: 35%;
        position: relative;
        text-align: left;
        vertical-align: middle;
        left:32%;
        
    }
    .text-center{
        text-align: center;
        color: white;
    }
    .input-group-text{
        background-color: rgb(244, 185, 37);
        width: 10%;
        border-width: 5px;
        padding: 7px;
        vertical-align: middle;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
    }

    .form-control{
        position: relative;
        width: 70%;
        height: 40px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .login{
        text-align: center;
        position: relative;
        margin: 0%;
        margin-right: -50%;
        font-size: medium;
    }
    .login_btn{
        background-color: rgb(244, 185, 37);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        height: 40px;
        width: auto;
        
    }
    .login_btn:hover{
        background-color: azure;
    }
    .container{
        background-image: url("/Images/img4.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }